@{
    ViewBag.Title = "About";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">About</li>
</ol>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
